{
    "*.{tsx,ts}": [
        "rome format --write",
        "rome check --apply-suggested"
    ],
    "*.cs": [
        "dotnet format style --include",
        "dotnet format analyzers --include",
        "dotnet csharpier"
    ]
}
